.menuBut {
  width: 160px;
  font-size: 40px;
  height: 70px;
}

#menu {
  position: absolute;
  bottom: 10px;
}
body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

#timer {
  float: left;
}
